<template>
    <div id="aba">
        <div class="filtro">
            <label for="selecionaFiltro">Selecione o tipo de filtro:</label>
            <select class="selecionaFiltro" type="select" v-model="tipoFiltro">
                <option value="id">ID</option>
                <option value="nome">nome</option>
                <!-- <option value="observacao">Nome Fantasia</option> -->
                <option value="cnpj">CNPJ</option>
                <option value="inscricaoEstadual">Inscrição Estadual</option>
                <option value="inscricaoMunicipal">Inscrição Municipal</option>
                <option value="nomeFantasia">Nome Fantasia</option>                    
            </select>

            
            <label for="text-area">Digite aqui a chave de busca:</label>
            <input type="search" placeholder="Buscar..." v-model.lazy="filtro">
            <button type="button" class="btn btn-secondary btn-sm" @click="downloadXlsx">Carregar Arquivo</button>
        </div>
        <!--<button class="btn btn-primary" v-on:click= "chamaremissorPorId(filtro)">Buscar</button>-->
        <div id="estiloTabela">
            <table id="tabelaEmissor" class="table table-bordered ">
                <thead>
                    <th v-for="campo of campos" :key="campo.nome">{{campo.title}}</th>
                </thead>
                <tbody>
                    <tr :key="emissor.id" v-for="emissor of buscaId">
                      <td>{{emissor.id}}</td>
                      <td>{{emissor.nome}}</td>
                      <!-- <td>{{emissor.observacao}}</td> -->
                      <td>{{emissor.cnpj}}</td>
                      <td>{{emissor.inscricaoEstadual}}</td>
                      <td>{{emissor.inscricaoMunicipal}}</td>
                      <td>{{emissor.nomeFantasia}}</td>
                    </tr>
                </tbody>
            </table>
          
        
        <p>
            <button class="btn btn-link" @click="antPag">Anteriror</button>
            <button class="btn btn-link" @click="proxPag">Próxima</button>                
        </p>

        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import XLSX from 'xlsx';

    export default {
        
        name: 'app',
        data () {
            return {
                campos: [
                    {name: 'id',
                     title: 'ID'
                    },
                    {name: 'nome',
                     title: 'Nome'
                    },
                    // {name: 'observacao',
                    //  title: 'Observação'
                    // },
                    {name: 'cnpj',
                     title: 'CNPJ'
                    },
                    {name: 'inscricaoEstadual',
                     title: 'Inscrição Estadual'
                    },
                    {name: 'inscricaoMunicipal',
                     title: 'Inscrição Municipal'
                    },
                    {name: 'nomeFantasia',
                     title: 'Nome Fantasia'
                    }       
                ],
                emissores: [],
                filtro: '',
                tipoFiltro: '',
                ordenacaoPadrao:'id',
                tipoOrdenacao:'asc',
                pageSize: 10,
                currentPage: 1,
                tabelaEmissor: ''
            }
        },

            computed: {
                buscaId() {
                    if (this.filtro != null) {

                        let exp = new RegExp(this.filtro, 'i');
                        return this.emissores.filter(emissor => exp.test(emissor[this.tipoFiltro]))
                        .filter((row, index) =>{
                                let start = (this.currentPage-1)*this.pageSize;
                                let end = this.currentPage*this.pageSize;
                                if(index >= start && index < end) return true;
                            }
                        )

                    } else {
                         return this.emissores;
                     }
                 },

                    emissoresOrdenados:function() {
                     return this.emissores.sort((a,b) => {
                     let modifier = 1;
                     if(this.tipoOrdenacao === 'desc') modifier = -1;
                     if(a[this.ordenacaoPadrao] < b[this.ordenacaoPadrao]) return -1 * modifier;
                     if(a[this.ordenacaoPadrao] > b[this.ordenacaoPadrao]) return 1 * modifier;
                     return 0;
                     }   
                 ).filter((row, index) => {
	    	             let start = (this.currentPage-1)*this.pageSize;
	    	             let end = this.currentPage*this.pageSize;
	    	             if(index >= start && index < end) return true;
	                 });
             }
            },

            methods:{
            chamaremissorPorId(id){
            axios.get('http://10.30.104.14:8081/vb-api/emissor/idEmissor?id='+id)
            .then(response => {this.emissoresOrdenados = response.data});
            },

            sort:function(s) {
            //if s == current sort, reverse
            if(s === this.ordenacaoPadrao) {
              this.tipoOrdenacao = this.tipoOrdenacao==='asc'?'desc':'asc';
            }   
            this.ordenacaoPadrao = s;
            },

            proxPag:function() {
                if((this.currentPage*this.pageSize) < this.emissores.length) this.currentPage++;
            },
            antPag:function() {
            if(this.currentPage > 1) this.currentPage--;
            },

            downloadXlsx () {

                if (this.buscaId == "") {

                var emissoresWS = XLSX.utils.json_to_sheet(this.emissores) 
                
                var wb = XLSX.utils.book_new()
                
                XLSX.utils.book_append_sheet(wb, emissoresWS, 'emissores')   
                
                XLSX.writeFile(wb, 'tabela.xlsx')
                

                } else{

                var buscaIdWS = XLSX.utils.json_to_sheet(this.buscaId) 
                
                var wb = XLSX.utils.book_new()
                
                XLSX.utils.book_append_sheet(wb, buscaIdWS, 'buscaId')   
                
                XLSX.writeFile(wb, 'tabela.xlsx')

                }
            }        
            },

            created () {
              axios
              .get(" http://10.30.104.14:8081/vb-api/emissor/")
              .then(response => {this.emissores = response.data})
            }
    }
</script>

<style>
.filtro{
    
    margin: 30px 30px 30px 30px;
    display: flex;
    justify-content: space-between;
    width: 65%;    
}

.botoes{
    
    margin: 30px 30px 30px 30px;
}

#estiloTabela{
    
    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 30px 30px 30px;

}

th {

    text-align: center;
    font-size: 15px;

}
</style>