<template>
    <div id="aba">
        <div class="filtro"> 
        <label for="selecionaFiltro">Selecione o tipo de filtro:</label>
        <select class="selecionaFiltro" type="select" v-model="tipoFiltro">
            <option value="id">ID</option>
            <option value="razaoSocial">Razão Social</option>
            <option value="nomeFantasia">Nome Fantasia</option>
            <option value="cnpj">CNPJ</option>
            <option value="inscricaoEstadual">Inscrição Estadual</option>
            <option value="inscricaoMunicipal">Inscrição Municipal</option>
            <option value="ramoAtividade">Ramo Atividade</option>                    
        </select>
   
            <label for="text-area">Digite aqui a chave de busca:</label>
            <input type="search" placeholder="Buscar..." v-model.lazy="filtro">
            <button type="button" class="btn btn-secondary btn-sm" @click="downloadXlsx">Carregar Arquivo</button>
        </div>
        <!--<button class="btn btn-primary" v-on:click= "chamarclientePorId(filtro)">Buscar</button>-->
        <div id="estiloTabela">
            <table class="table table-bordered">
                <thead>
                    <th  :key="campo.nome" v-for="campo of campos" :value="campo.name">{{campo.title}}</th>
                </thead>
                <tbody>
                    <tr :key="cliente.id" v-for="cliente of buscaId">
                      <td>{{cliente.id}}</td>
                      <td>{{cliente.razaoSocial}}</td>
                      <td>{{cliente.nomeFantasia}}</td>
                      <td>{{cliente.cnpj}}</td>
                      <td>{{cliente.inscricaoEstadual}}</td>
                      <td>{{cliente.inscricaoMunicipal}}</td>
                      <td>{{cliente.ramoAtividade}}</td>
                    </tr>
                </tbody>
            </table>
            <p style="align: center">
                <button class="btn btn-link" @click="antPag">Anteriror</button>
                <button class="btn btn-link" @click="proxPag">Próxima</button>                
            </p>

        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import XLSX from 'xlsx'

    export default {

        name: 'app',
        data () {
            return {
            campos: [

                {name: 'id',
                 title: 'ID',
                },
                {name: 'razaoSocial',
                 title: 'Razão Social'
                },
                {name: 'nomeFantasia',
                 title: 'Nome Fantasia'
                },
                {name: 'cnpj',
                 title: 'CNPJ'
                },
                {name: 'inscricaoEstadual',
                 title: 'Inscrição Estadual'
                },
                {name: 'inscricaoMunicipal',
                 title: 'Inscrição Municipal'
                },
                {name: 'ramoAtividade',
                 title: 'Ramo Atividade'
                }       
            ],     
                clientes: [],
                filtro: '',
                tipoFiltro: '',
                ordenacaoPadrao:'id',
                tipoOrdenacao:'asc',
                pageSize: 10,
                currentPage: 1,
            }
        },

            computed: {
                buscaId() {
                    if (this.filtro != null) {

                        let exp = new RegExp(this.filtro, 'i');
                        return this.clientes.filter(cliente => exp.test(cliente[this.tipoFiltro]))
                        .filter((row, index) =>{
                                let start = (this.currentPage-1)*this.pageSize;
                                let end = this.currentPage*this.pageSize;
                                if(index >= start && index < end) return true;
                            }
                        )

                    } else {
                         return this.clientes;
                     }
                 },

                    clientesOrdenados:function() {
                     return this.clientes.sort((a,b) => {
                     let modifier = 1;
                     if(this.tipoOrdenacao === 'desc') modifier = -1;
                     if(a[this.ordenacaoPadrao] < b[this.ordenacaoPadrao]) return -1 * modifier;
                     if(a[this.ordenacaoPadrao] > b[this.ordenacaoPadrao]) return 1 * modifier;
                     return 0;
                     }   
                 ).filter((row, index) => {
	    	             let start = (this.currentPage-1)*this.pageSize;
	    	             let end = this.currentPage*this.pageSize;
	    	             if(index >= start && index < end) return true;
	                 });
             }
            },

            methods:{
            chamarclientePorId(id){
            axios.get('http://10.30.104.14:8081/vb-api/cliente/idcliente?id='+id)
            .then(response => {this.clientesOrdenados = response.data});
            },

            sort:function(s) {
            //if s == current sort, reverse
            if(s === this.ordenacaoPadrao) {
              this.tipoOrdenacao = this.tipoOrdenacao==='asc'?'desc':'asc';
            }   
            this.ordenacaoPadrao = s;
            },

            proxPag:function() {
                if((this.currentPage*this.pageSize) < this.clientes.length) this.currentPage++;
            },
            antPag:function() {
            if(this.currentPage > 1) this.currentPage--;
            },
            downloadXlsx () {

                if (this.buscaId == "") {

                var clientesWS = XLSX.utils.json_to_sheet(this.clientes) 
                
                var wb = XLSX.utils.book_new()
                
                XLSX.utils.book_append_sheet(wb, clientesWS, 'clientes')   
                
                XLSX.writeFile(wb, 'tabela.xlsx')
                

                } else{

                var buscaIdWS = XLSX.utils.json_to_sheet(this.buscaId) 
                
                var wb = XLSX.utils.book_new()
                
                XLSX.utils.book_append_sheet(wb, buscaIdWS, 'buscaId')   
                
                XLSX.writeFile(wb, 'tabela.xlsx')

                }
            }        
            },

            created () {
              axios
              .get(" http://10.30.104.14:8081/vb-api/cliente/")
              .then(response => {this.clientes = response.data})
            }
    }
</script>

<style>
.filtro-id{
    
    margin: 30px 30px 30px 30px;
    display: flex;
    justify-content: space-between;
    width: 35%;     
}

.botoes{
    
    margin: 30px 30px 30px 30px;
}

#estiloTabela{
    
    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 30px 30px 30px;

}

th {

    text-align: center;
    font-size: 13px;

}
</style>