<template>
  <div class="corpo">

    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand"> <a id="titulo" href=""> Importação de Insumo e Emissor do Cliente </a></span>
      <span class="navbar-nav" :key="route.path" v-for="route in routes">
        <router-link :to="route.path ? route.path : '/'">{{route.title}}</router-link>
      </span>
    </nav>

    <transition name="fade">
      <router-view></router-view>     
    </transition> 

  </div>
</template>

<script>
import { routes }  from './routes';


export default {

  data() {

    return {

      routes
    }

  }

}
</script>

<style>

#titulo {

  color: white;

}#titulo:hover{
  font-size: 18px
}

.navbar{
  justify-content: space-around;
}

a {
  text-decoration:none;
  margin-right: 80px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.644);
}

a:hover{
 
  text-decoration:none;
  color: rgb(116, 255, 232);
  font-size: 17px
  
}

    .fade-enter {
      opacity: 0;
    }
    
    
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity .5s;
    }
    
    .fade-leave-to {
      opacity: 0;
    }

</style>
